{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<div style="margin-top:100px" class="page-header container">
    <h1>Change Your Password</h1>
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.old_password, class="") }}
        {{ wtf.form_field(form.password, class="") }}
        {{ wtf.form_field(form.password2, class="") }}
        {{ wtf.form_field(form.submit, class="btn btn-success") }}
      </form>
</div>
{% endblock %}