{% extends "base.html" %}
{% block head %}

<!-- Page title -->
<title>Community Page</title>
<!-- Link to respective CSS stylesheet -->
<link rel="stylesheet" href="{{url_for('static', filename='css/search_style.css')}}">

{% endblock %}

{% block body %}
<!-- Write Posts -->
<div>
  
 <section id="welcome-section">
    <div class="container-fluid " style="padding-top: 20vh;">
        <h1 class="welcome-text animated slideInLeft">Set & Get</h1>
        <h1 class="welcome-text2">Community</h1>
    </div>
    <!-- Search box with submit button -->
      <div class="container search-field col-lg-6 col-md-6 col-sm-12">
        <input type="text" name="searched_username" placeholder="Search your Query..." style="width: 70%;">
        <button type="button" name="search_submit" value="send" class="btn btn-success"><i class="fas fa-thumbs-up"></i> Submit</button>
        <br><br>
      </div>
</section>


<div  class="container mb-2" style="margin-top:4%;">
{% if current_user.can(Permission.WRITE) %}
  <form method="POST" class="ques-post">
    <h2 class='text-danger'>Have Questions regarding Personal Finance ?</h2>
    {% import "bootstrap/wtf.html" as wtf %}
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      {{ wtf.form_field(form.body) }}
      <center>
      {{ wtf.form_field(form.submit, class="btn btn-danger ques-btn") }}
      </center>
    </form>
   </form>
{% endif %} 
</div>

<center>
<hr class="dashed-line">
<div class="container" >
  <ul class="nav nav-pills">
      <li class='nav-item'{% if not show_followed %} class="active"{% endif %}>
        <a class="btn btn-primary "  href="{{ url_for('.show_all') }}">All Comments</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class='nav-item'{% if show_followed %} class="active"{% endif %}>
        <a class="btn btn-primary "  href="{{ url_for('.show_followed') }}">Only Followed</a>
      </li>
      {% endif %}
  </ul>
</div>
</center>

<!-- All  Posts -->
<div class="container" style="margin-bottom: 4%;">
{% include '_posts.html' %}

<center style="margin-top: 2%;">
<!-- Pagination  -->
{% if pagination %}
{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}
<div class="pagination justify-content-center">{{ macros.pagination_widget(pagination, 'main.community') }}
</div>
{% endif %}
</div>
</center>

{% endblock %}
