{% extends "base.html" %}
{% block head %}

<!-- Page title -->
<title>Community Page</title>
<!-- Link to respective CSS stylesheet -->
<link rel="stylesheet" href="{{url_for('static', filename='css/search_style.css')}}">

{% endblock %}

{% block body %}
<!-- Write Posts -->
<div>
  
 <section id="welcome-section">
    <div class="container-fluid " style="padding-top: 20vh;">
        <h1 class="welcome-text animated slideInLeft">Set & Get</h1>
        <h1 class="welcome-text2">Discussion forum</h1>
    </div>
</section>

<!-- Search box with submit button -->
<div class="container search-field" style="display:none;">

  <input type="text" name="searched_username" placeholder="Search your Query...">
  <button type="button" name="search_submit" value="send" class="btn btn-success"><i class="fas fa-thumbs-up"></i> Submit</button>
<br><br>
</div>


<div  class="container mb-2">
<form method="POST" class="ques-post">
  {% if current_user.can(Permission.WRITE) %}
  <h2 class='text-danger'>Have Questions regarding Personal Finance ?</h2>
  {% import "bootstrap/wtf.html" as wtf %}
  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
  
    {{ wtf.form_field(form.body) }}
    <center>
    {{ wtf.form_field(form.submit, class="btn btn-danger ques-btn") }}
    </center>
  </form>
    {% endif %} 
  </form>
</div>

<center>
<h1 class="comm-heading">DISCUSSION SECTION</h1> 
<div class="container" >
  <ul class="nav nav-pills">
      <li class='nav-item'{% if not show_followed %} class="active"{% endif %}>
        <a class="btn btn-primary "  href="{{ url_for('.show_all') }}">All Comments</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class='nav-item'{% if show_followed %} class="active"{% endif %}>
        <a class="btn btn-primary "  href="{{ url_for('.show_followed') }}">Only Followed</a>
      </li>
      {% endif %}
  </ul>
</div>
</center>

<!-- All  Posts -->
<div class="container" style="margin-bottom: 4%;">
{% include '_posts.html' %}

<center style="margin-top: 2%;">
<!-- Pagination  -->
{% if pagination %}
{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}
<div class="pagination justify-content-center">{{ macros.pagination_widget(pagination, 'main.community') }}
</div>
{% endif %}
</div>
</center>

{% endblock %}
