{% extends "base.html" %}
{% block head %}
<!-- Link to respective CSS stylesheet -->
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">

{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="container col-lg-6 col-sm-8">
<h2><strong>Register</strong>
</h2>

<form method="POST" class="register-form">

    {{ render_field(form.name, class="form-control") }}
    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.phone, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
    {{ render_field(form.confirm, class="form-control") }}
    
    <center>
    <button type="submit" class="btn btn-primary register-button">Register</button>
    </center>
</form>
    

<a href="{{ url_for('auth.login')}}">Login into existing account!</a>
</div>
{% endblock body %}
