/* Body style with backgroud image */
body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    background-position: center;
    font-family:'Ubuntu';
  }
  /* navigation bar */
  .navbar {
    padding: 0 0 0.01rem;
    background-color: rgb(3, 1, 1);
  }
  .nav-item {
    padding: 0px 10px 5px 5px;
  }
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Ubuntu';
  }
  .navbar-nav{
    margin-right:1%;
  }
  .dropdown{
    width: 80px;
  }

  /* Media query (Responsive for phones) */
  @media (max-width: 1100px){
    /* navigation bar */
    .navbar {
      background-color: rgba(3, 1, 1, 0.897);
    }
    .nav-item {
        padding:1%;
    }
    .nav-link {
        font-size: 1.5rem;
    }
    .navbar-nav{
        width: 100%;
    }
  }
  @media (max-width: 990px){
    .nav-link {
        font-size: 2rem;
    }
    .navbar {
        padding: 1.5rem 0 1.5rem 1rem;
    }
    .navbar-collapse{
        margin-left: 4%;
    }
  }
  @media (max-width: 425px){
    .nav-link {
        font-size: 3rem;
    }
  }
