/* Body style with backgroud image */
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.473),rgba(0, 0, 0, 0.473)),url('../img/bg1.jpg');
}
/* Welcome-to heading */
h5{
    font-weight: bold;
    text-align:center;
    padding-top: 17%;
    color: #fff;
    letter-spacing: 0.2em;
}

.container{
    margin-top: 12%;
}

/* Bill Reminder heading */
.first-animation{
    font-family: "Ubuntu";
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    padding-top: 2%;
    color: #fff;
    letter-spacing: 0.2em;
}
.first-animation .letter {
    display: inline-block;
    line-height: 1em;
}


/* Add Reminder Button */
.btn{
    margin-top: 3%;
    letter-spacing: 0.1em;
}

@media (min-width: 761px) and (max-width: 840px){
    .container{
        top-margin: 20%;
    }
    .first-animation{
        font-size: 50px;
    }
    .container{
        margin-top: 20%;
    }
}
@media (min-width: 491px) and (max-width: 760px){
    .container{
        margin-top: 25%;
    }
}
@media (min-width: 361px) and (max-width: 490px) {
    h5{
        padding-top: 40%;
        font-size: 1.5rem;
    }

    /* Bill Reminder heading */
    .first-animation{
        font-size: 50px;
        padding-top: 5%;
    }

    /* Add Reminder Button */
    .btn{
        margin-top: 5%;
        font-size: 1rem;
    }
    .container{
        margin-top: 25%;
    }
  }
@media (max-width: 360px){
    .first-animation{
        font-size: 45px;
    }
    .container{
        margin-top: 25%;
    }
}
