* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
/* Body background image */
body {background-image: linear-gradient( rgba(18, 13, 46, 0.685), rgba(18, 13, 46, 0.685)),
    url("../img/bg4.jpg");
}

/* Main container */
.container {
  height: 80%;
  width: 80%;
}

/* Show Reminder Heading */
.heading {
  font-weight: bold;
  margin-top: 2%;
  color: #fff;
  font-size: 2.5rem;
}

/* Tabs */
.tabs {
  position: absolute;
  top: 12%;
  left: 8%;
  width: 70%;
  height: 85%;
  padding: 20px 40px;
  border-radius: 50px;
}

/* Tab header */
h2 {
  color: #fff;
  padding: 2% 0;
}
.tabs .tab-header {
  height: 60px;
  display: flex;
  align-items: center;
}
.tabs .tab-header > div {
  width: calc(100% / 4);
  text-align: center;
  color: rgb(226, 220, 220);
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
}
.tabs .tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}
.tabs .tab-header > div.active {
  color: #9bff9b;
}

/* Tab header icons */
i {
  margin: 0 3%;
}

/* Tab indicator */
.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 4);
  height: 5px;
  background: #9bff9b;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

/* Tab Body */
.tabs .tab-body {
  position: relative;
  padding: 10px 5px;
  width: 100%;
}
.tabs .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}
.tabs .tab-body > div.active {
  top: 20px;
  opacity: 1;
  transform: scale(1);
  width: 100%;
}
.table{
  box-shadow: 5px 5px 10px black;
}
/* Tab content */
p {
  color: #fff;
}
.show-con{
  margin-top: 6%;
  margin-left: 18%;
}

.show-unauth{
  font-weight: bold;
  padding: 0;
  font-family: 'Ubuntu';
  font-size: 2rem;
}


/* Media query (Responsive for phones) */
@media (max-width: 1100px) {

  /* Main container */
  .container {
    height: 100%;
    width: 100%;
  }

  /* Show Reminder Heading */
  .heading {
    font-weight: bold;
    width: 100%;
    margin: 7% 0 0 5%;
    font-size: 1.7rem;
  }

  /* Tabs */
  .tabs {
    top: 10%;
    left: 5%;
    padding: 0;
  }

  /* Active Tab */
  .active {
    margin: 1% 0;
  }

  /* Tab header */
  h2 {
    width: 100%;
  }
  .tabs .tab-header {
    display: inline;
    height: 70px;
    width: auto;
    display: block;
  }
  .tabs .tab-header > div {
    padding: 0 4%;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    border-left: 3px solid #fff;
    margin-left: 5%;
  }
  .tabs .tab-header > div.active {
    border-left: 5px solid #9bff9b;
    border-radius: 5px;
  }

  /* Tab indicator */
  .tabs .tab-indicator {
    margin-left: 5%;
    height: 0px;
  }

  /* Tab body */
  .tabs .tab-body {
    margin-top: 3%;
    width: 100%;
  }
  .show-con{
    margin-top: 15%;
    margin-left: 18%;
  }
}
@media (max-width: 440px){
  .show-unauth{
    font-size: 1.5rem;
  }
  .show-con{
    margin-top: 25%;
    margin-left: 18%;
  }
}
