{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
<!-- Link to respective CSS stylesheet -->
<link rel="stylesheet" href="{{url_for('static', filename='css/followers.css')}}">

{% endblock %}
{% block title %}Bills Reminder- {{ title }} {{ user.username }}{% endblock %}

{% block body %}
<div class="container col-lg-4 col-md-6 col-sm-12">
    <div class="page-header container" style="margin-top:100px;">
        <h2>{{ title }} {{ user.username }}</h2>
    </div>
    <table class="table table-hover followers">
        <thead style="background: #04AA6D;color: white;"><tr><th>User</th>
                    <th>Since</th>
            </tr></thead>
        {% for follow in follows %}
    
        <tr>
            <td>
                <a style='text-decoration:none' href="{{ url_for('.user', username = follow.user.username) }}">
    
                    {% if current_user.is_authenticated%}
                    {% if follow.user.photo!= None %}
                        <img style="border-radius: 50%" width=40px height=40px class="img-rounded profile-thumbnail"
                            src="{{url_for('static', filename= follow.user.photo)}}">
                    {% else %}
                        <img class="img-rounded profile-thumbnail" src="{{ follow.user.gravatar(size=32) }}">
                    {% endif %}
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ follow.user.username }}
                </a>
            </td>
            <td>{{ moment(follow.timestamp).format('L') }}</td>
        </tr>
    
        {% endfor %}
    </table>
    <div class="pagination justify-content-center">
        {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
    </div>
</div>
{% endblock %}
