{% extends "base.html" %}
{% block head %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Page title -->
<title>Set and Get</title>
<!-- Link to respective CSS stylesheet -->
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block body %}
<div class="container col-lg-6 col-md-6 col-sm-12">
  <center>
  <!-- Welcome to and Bill Reminder Heading -->
  {% if current_user.is_authenticated %}
  <h5 class="second-animation">Welcome, {{current_user.name}}</h5>
  {% else %}
  <h5 class="second-animation">Welcome</h5>
  {% endif %}
  <h2 class="first-animation">Set & Get</h2>

  <!-- Add Reminder Button -->
  <a class="btn btn-outline-light" href="{{url_for('main.add')}}" role="button">
    <i class="fas fa-plus-circle"></i> Add Reminder</a>
  <br>

  <!-- {% if current_user.is_authenticated %}
    <a class='btn btn-primary' href="{{url_for('auth.logout')}}">Logout</a>
    {% else %}
    <a class='btn btn-primary' href="{{url_for('auth.login')}}">Login</a>
    {% endif %} -->
  </center>
</div>


{% block scripts %}
{{ pagedown.include_pagedown() }}
{% endblock %}


<!-- Javascript link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
var textWrapper = document.querySelector('.first-animation');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.first-animation .letter',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.first-animation .letter',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  });

  var textWrapper = document.querySelector('.second-animation');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
  
  anime.timeline({loop: true})
    .add({
      targets: '.second-animation .letter',
      translateX: [40,0],
      translateZ: 0,
      opacity: [0,1],
      easing: "easeOutExpo",
      duration: 1200,
      delay: (el, i) => 500 + 30 * i
    }).add({
      targets: '.second-animation .letter',
      translateX: [0,-30],
      opacity: [1,0],
      easing: "easeInExpo",
      duration: 1100,
      delay: (el, i) => 100 + 30 * i
    });
</script>



{% endblock %}

